<div>
  <div>
    <h1>Header</h1>
    <input class="new-task" [(ngModel)]="newTask.title" (keyup.enter)="addTask()">
  </div>
  <div>
    <ul class="task-list">
      <li *ngFor="let task of tasks">
        <div>
          <label class="task-title">{{task.title}}</label>
          <input class="toggle" type="checkbox" (click)="toggleComplete(task)" [checked]="task.complete">
        </div>
      </li>
    </ul>
    <button class="clear-tasks" (click)="clearCompletedTasks()">Remove Completed Tasks</button>
  </div>
</div>
